<!-- <div class="container">
    <div class="row">
      <div id="navbar">
        <table></table>
    <element class="content"> <app-homeb></app-homeb> </element>
    <element class="content"> <app-loginb></app-loginb> </element> 
     <a href="#contact" routerLink="/register">Register</a> 
  </div>
</div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="col-2"><a class="navbar-brand text-white" >ShopHere</a></div>
  <!-- <div><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button></div>
    <span class="navbar-toggler-icon"></span> 
  </button> -->

  <div class="col-10 collapse navbar-collapse" id="navbarSupportedContent">
    <div class="col-12 navbar-nav ">
      <div class="col-2 nav-item active">
        <a class="nav-link" href="#">Home </a>
      </div>
      <div class="col-8"><form class="form-inline ">
          <div class="col-8"><input class="form-control " type="search" placeholder="Search" aria-label="Search"></div>
          <div class="col-4"><button class="btn btn-outline-success " type="submit">Search</button></div>
        </form>
      </div>
      <div class="col- nav-item active">
        <a class="btn btn-outline-success " href="#">Login </a>
      </div>
      
      
    </div>
    
  </div>
</nav>
  <router-outlet></router-outlet>