body{
    margin-top: 45px;
    margin-left: 20px;
    align-content: stretch;
    background-image: url("https://mondrian.mashable.com/2013%252F12%252F26%252F68%252FECommerce.006cd.jpg%252F950x534__filters%253Aquality%252890%2529.jpg?signature=NwLPoOWtGFjUHYWm-OiF_id24Lw=") no-repeat center stretch;
}